/* Tablita.css */
.tablota{
    display: flex;
    justify-content: center;
}
table {
    width: 40%;
    align-content: center;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
    color: black;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #e18585;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f6f1f1;
}
