@import 'variables';
@mixin boton-primario {
    background-color: $color-primario;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
    
    &:hover {
        background-color: darken($color-primario, 10%); 
    }
}

@mixin transicion-suave($propiedad) {
    transition: $propiedad 0.3s ease;
}